<header class="header" id="header">
    <div class="container">
        <a class="logo" href="/Home/Index">NezidStore</a>
        <a class="categories" href="#">Categories</a>

        <input class="search" type="text" name="" id="" placeholder="Search Product">

        <nav class="nav">
            <ul class="menu-list">
                <li class="menu-item delivery-item">
                    <a class="menu-link" href="#">
                        <img class="menu-link__img" src="~/images/Header/delivery.svg" alt="delivery">
                    </a>
                </li>
                <li class="menu-item message-item">
                    <a class="menu-link " href="#">
                        <img class="menu-link__img" src="~/images/Header/message.svg" alt="message">
                    </a>
                </li>
                <li class="menu-item like-item">
                    <a class="menu-link" href="#">
                        <img class="menu-link__img" src="~/images/Header/like.svg" alt="like">
                    </a>
                </li>
                <li class="menu-item  cart-item">
                    <a class="menu-link" href="#">
                        <img class="menu-link__img" src="~/images/Header/cart.png" alt="cart">
                    </a>
                </li>
                <li class="menu-item user-item">
                    <a asp-controller="Account" asp-action="UserProfile" class="menu-link">
                        <img class="menu-link__img" src="~/images/Header/user.svg" alt="user">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>