@model ShopDevelop.Web.Models.ShoppingCartViewModel

<div class="container">
    <div class="cart__inner">
        <form class="cart-info__section">

            <a href="#" class="cart__back-btn">
                <img src="../images/Cart/Vector.svg" alt="">
            </a>

            <h1 class="cart-main__title">CHECKOUT</h1>

            <div class="cart__nav-inner">
                <button class="cart__nav-titles__btn">INFORMATION</button>
                <button class="cart__nav-titles__btn cart__nav-titles__btn__off">SHIPPING</button>
                <button class="cart__nav-titles__btn cart__nav-titles__btn__off">PAYMENT</button>
            </div>

            <div class="cart__info">
                <h5 class="cart__info-subtitle">CONST INFO</h5>
                <input class="cart__input" type="email" id="email" name="email" placeholder="Email"> <br>
                <input class="cart__input" type="phone" id="phone" name="phone" placeholder="Phone">
            </div>

            <div class="cart__info">
                <h5 class="cart__info-subtitle">SHIPPING ADDRESS</h5>
                <div class="cart__info-join__inner">
                    <input class="cart__input cart__input-min" type="firstname" id="firstname" name="firstname" placeholder="First Name">
                    <input class="cart__input cart__input-min" type="lastname" id="lastname" name="lastname" placeholder="Last Name">
                </div>

                <input class="cart__input" type="country" id="country" name="country" placeholder="Country"> <br>
                <input class="cart__input" type="region" id="region" name="region" placeholder="Region"> <br>
                <input class="cart__input" type="address" id="address" name="address" placeholder="Address"> <br>

                <div class="cart__info-join__inner">
                    <input class="cart__input cart__input-min" type="city" id="city" name="city" placeholder="City">
                    <input class="cart__input cart__input-min" type="postcode" id="postcode" name="postcode" placeholder="Postal Code">
                </div>
            </div>
            <button class="shipping-next__btn">
                Shipping
                <img class="cart-shipping__img" src="../images/Cart/Vector2.svg" alt="">
            </button>
        </form>

        <div class="cart-product__section">
            <div class="cart-product__section__inner">
                <h5 class="cart__info-subtitle cart__info_prod-subtitle">YOUR ORDER</h5>
                <ul class="cart__products">

                    @foreach (var product in Model.ShoppingCart.ShoppingCartItems)
                    {
                        <li class="cart__product">
                            <img class="cart__product-img" src="~/images/Products/Product/full__image_1.jpg" alt="">
                            <div class="cart__product-info">
                                <div class="cart__product-info-top">
                                    <p class="cart__product-name">@product.Name</p>
                                    <p class="cart__product-size"></p>
                                </div>

                                <div class="cart__product-info-bottom">
                                    <p class="cart__product-score"></p>
                                    <p class="cart__product-price"></p>
                                </div>
                            </div>
                        </li>
                    }
                </ul>

                <div class="cart__total-price">
                    <p class="cart__product-total-text">Total:</p>

                    <div class="cart__total-price__inner">
                        <p class="cart__product-total-over-price">3 800 ₽</p>
                        <p class="cart__product-total-price">3 200 ₽</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>