:root{
    --background-section-color: #dedede;
    --input-border: #999;
    --text-color-input: #000;
    --dm-sans-font: "DM Sans", sans-serif;
    --login-blue-color: #1F41BB;
    --other-dark-color: #494949;
    --main-color: #111827;
}

body{
    font-family: var(--dm-sans-font);
    color: var(--main-color);
}

.container{
    max-width: 1460px;
    margin: 0 auto;
}

.register__inner{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.info__section{
    width: 850px;
    height: 850px;
    background-color: var(--background-section-color);
}

.register-form{
    width: 610px;
    height: 850px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--main-color);
    margin-top: 50px;
    /* border: 1px solid var(--background-section-color); */
}

.reg-title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}

.reg-other-text-info{
    font-size: 18px;
    margin-bottom: 40px;
}

.reg-subtitle{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin-left: 93px;
    margin-bottom:15px;
}

.reg-input{
    width: 420px;
    height: 45px;
    border: 1px solid var(--input-border);
    font-size: 16px;
    color: var(--text-color-input);
    outline: none;
    margin-bottom: 15px;
    padding: 0 20px;
}

.reg-other-text{
    font-size: 14px;
    font-weight: 700;
    color: var(--other-dark-color);
    margin-bottom: 5px;
    margin-top: 20px;
}

.reg-login__link{
    color: var(--login-blue-color);
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    transition: .5s;
}

.reg-login__link:hover{
    text-decoration: underline;
}

.btn-submit{
    margin-top: 30px;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 100px;
    border: 1px solid transparent;
    transition: .5s;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.btn-submit:hover{
    border: 1px solid var(--text-color-input);
    background-color: transparent;
    color: #000;
    cursor: pointer;
}

.rememberme-label{
    text-align: left;
}

.rememberme-input{
    width: 19px;
    height: 19px;
    position: relative;
    top: 5px;
    margin-left: 5px;
}

.forgot-pass{
    margin-left: 115px;
    text-decoration: underline;
    cursor: pointer;
    transition: .5s;
}
.forgot-pass:hover{
    opacity: 80%;
}


.log-other-text-info{
    margin-top: 10px;
}

.log-other-text{
    margin-top: 80px;
}