<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Links Partial -->
    @await Html.PartialAsync("LinksPartial")
    <!-- MetaTags Partial -->
    @await Html.PartialAsync("MetatagsPartial")
    <!-- Css Styles Partial -->
    @await Html.PartialAsync("CssPartial")
</head>
    <body>
        <!-- Header Partial -->
        @await Html.PartialAsync("HeaderPartial")
        
        @RenderBody()
        
        <!-- Footer Partial -->
        @await Html.PartialAsync("FooterPartial")
        <!-- Scripts Partial -->
        @await Html.PartialAsync("ScriptsPartial")
    </body>
</html>