<secion class="section__error">
    <div class="container">
        <div class="main__error__inner">
            <p class="error__subtitle">ERROR</p>
            <h1 class="error__title">404</h1>
            <p class="error__text">LOOK'S LIKE THERE HAS BEEN AN ERROR.</p>
            <p class="error__text">LETS GO BACK TO HOMEPAGE</p>
            <button class="error__home__btn">CLICK HERE</button>
        </div>
    </div>
</secion>