<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__left-menu__inner">

                <ul class="footer__menu">
                    <li class="footer__item">
                        <h4 class="footer__title">Products</h4>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__links">How to place an order</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__links">Payment methods</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__links">Loans</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__links">Delivery</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__links">Order status</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__links">Exchange, Refund, Warranty</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__links">Quality control</a>
                    </li>
                </ul>

                <ul class="footer__menu footer__menu-company">
                    <li class="footer__item">
                        <h4 class="footer__title">Company</h4>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__links">About the Company</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__links">Privacy policy</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__links">Terms of use</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__links">The bonus program</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__links">Partners</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__links">Feedback</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__links">Help</a>
                    </li>
                </ul>

            </div>

            <div class="footer__right-menu__inner">

                <div class="footer__right__info__inner">
                    <h4 class="footer__title">Say In Touch</h4>
                    <p class="footer__text">
                        Please feel free to contact us via the email of phone.
                        We would be happy to hear from you!
                    </p>
                </div>

                <div class="footer__right__feedback__inner">
                    <a href="" class="foonter__link-item">
                        <img src="~/images/footer/phone.svg" alt="phone">
                        <p class="footer__link-text">+7 999 999 99 99</p>
                    </a>

                    <a href="" class="foonter__link-item">
                        <img src="~/images/footer/mail.svg" alt="mail">
                        <p class="footer__link-text">mypost@gmail.com</p>
                    </a>
                </div>

                <div class="footer-links__inner">
                    <a href="" class="foonter__link-item">
                        <img src="~/images/footer/facebook.svg" alt="facebook">
                    </a>
                    <a href="" class="foonter__link-item">
                        <img src="./images/footer/youtube.svg" alt="youtube">
                    </a>
                    <a href="" class="foonter__link-item">
                        <img src="~/images/footer/inst.svg" alt="inst">
                    </a>
                    <a href="" class="foonter__link-item">
                        <img src="~/images/footer/twitter.svg" alt="twitter">
                    </a>
                </div>
            </div>

        </div>

        <p class="footer__bottom-text">© NezidShop, 2024</p>

    </div>
</footer>