@{
    foreach(var product in Model)
    {
    <main class="main">
        <div class="container">
            <div class="product__top">
                <div class="product__top__inner">
                    <div class="product__top__image__inner">
                        <img src="images/product/product235.jpg" alt="" class="product__main__image">
                        <form>
                            <ul class="product__main__images__inner">
                                <li class="product__main__images__li top__image">
                                    <input type="radio" id="img1" class="product__main__radiobtn" name="choice" />
                                    <label for="img1" class="product__main__image-mini"></label>
                                </li>
                                <li class="product__main__images__li">
                                    <input type="radio" id="img2" class="product__main__radiobtn" name="choice" />
                                    <label for="img2" class="product__main__image-mini"></label>
                                </li>
                                <li class="product__main__images__li">
                                    <input type="radio" id="img3" class="product__main__radiobtn" name="choice" />
                                    <label for="img3" class="product__main__image-mini"></label>
                                </li>
                                <li class="product__main__images__li">
                                    <input type="radio" id="img4" class="product__main__radiobtn" name="choice" />
                                    <label for="img4" class="product__main__image-mini"></label>
                                </li>
                                <li class="product__main__images__li">
                                    <input type="radio" id="img5" class="product__main__radiobtn" name="choice" />
                                    <label for="img5" class="product__main__image-mini"></label>
                                </li>
                                <li class="product__main__images__li">
                                    <input type="radio" id="img6" class="product__main__radiobtn" name="choice" />
                                    <label for="img6" class="product__main__image-mini"></label>
                                </li>
                            </ul>
                        </form>
                    </div>
    
                    <div class="product__top__info__inner">
    
                        <h3 class="product__top__name">Pants Arc’teryx Gore-Tex</h3>
                        <a href="#!" class="product__top__brend">Arc’teryx</a>
    
                        <div class="product__top__stars__inner">
                            <img src="images/product/star.svg" alt="" class="product__top__star-img">
                            <img src="images/product/star.svg" alt="" class="product__top__star-img">
                            <img src="images/product/star.svg" alt="" class="product__top__star-img">
                            <img src="images/product/star.svg" alt="" class="product__top__star-img">
                            <img src="images/product/star.svg" alt="" class="product__top__star-img">
                            <p class="product__top__stars__counter">(129)</p>
                        </div>
    
                        <p class="product__top__size-text">Select Size</p>
                        <form action="">
                            <div class="proudct__top__size__inner">
                                <input type="radio" id="img_size_1" class="product__top__radio__size" name="choice" />
                                <label for="img_size_1" class="product__top__label__size">UK 6 (EU 40)</label>
    
                                <input type="radio" id="img_size_2" class="product__top__radio__size" name="choice" />
                                <label for="img_size_2" class="product__top__label__size">UK 6.5</label>
    
                                <input type="radio" id="img_size_3" class="product__top__radio__size" name="choice" />
                                <label for="img_size_3" class="product__top__label__size">UK 7</label>
    
                                <input type="radio" id="img_size_4" class="product__top__radio__size" name="choice" />
                                <label for="img_size_4" class="product__top__label__size">UK 7.5</label>
    
                                <input type="radio" id="img_size_5" class="product__top__radio__size" name="choice" />
                                <label for="img_size_5" class="product__top__label__size">UK 8</label>
    
                                <input type="radio" id="img_size_6" class="product__top__radio__size" name="choice" />
                                <label for="img_size_6" class="product__top__label__size">UK 8.5</label>
    
                                <input type="radio" id="img_size_7" class="product__top__radio__size" name="choice" />
                                <label for="img_size_7" class="product__top__label__size">UK 9</label>
    
                                <input type="radio" id="img_size_8" class="product__top__radio__size" name="choice" />
                                <label for="img_size_8" class="product__top__label__size">UK 9.5</label>
    
                                <input type="radio" id="img_size_9" class="product__top__radio__size" name="choice" />
                                <label for="img_size_9" class="product__top__label__size">UK 10.5</label>
    
                                <input type="radio" id="img_size_10" class="product__top__radio__size" name="choice" />
                                <label for="img_size_10" class="product__top__label__size">UK 11</label>
    
                                <input type="radio" id="img_size_11" class="product__top__radio__size" name="choice" />
                                <label for="img_size_11" class="product__top__label__size">UK 11.5</label>
    
                                <input type="radio" id="img_size_12" class="product__top__radio__size" name="choice" />
                                <label for="img_size_12" class="product__top__label__size">UK 12</label>
    
                            </div>
                        </form>
    
                        <button class="product__main__btn product__main__btn-cart">Add To Cart</button>
                        <button class="product__main__btn product__main__btn-favorite">Favorite</button>
                    </div>
                </div>
    
    
                <div class="product__top__description">
                    <button class="proudct__title">All characteristics and description</button>
                    <div class="max-info__inner">
                        <ul class="product-main-info-parameters section__info_product-main-info-parameters">
                            <li class="product-main-info-parameter">
                                <span class="product-main-info__item">Article:</span>
                                <span class="product-main-info__subitem">000000001</span>
                            </li>
                            <li class="product-main-info-parameter">
                                <span class="product-main-info__item">Composition:</span>
                                <span class="product-main-info__subitem">cotton</span>
                            </li>
                            <li class="product-main-info-parameter">
                                <span class="product-main-info__item">Model parameters in the photo:</span>
                                <span class="product-main-info__subitem">174/S</span>
                            </li>
                            <li class="product-main-info-parameter">
                                <span class="product-main-info__item">Features of the model:</span>
                                <span class="product-main-info__subitem">unisex</span>
                            </li>
                            <li class="product-main-info-parameter">
                                <span class="product-main-info__item">Sleeve Type:</span>
                                <span class="product-main-info__subitem">Long</span>
                            </li>
                            <li class="product-main-info-parameter">
                                <span class="product-main-info__item">Features of the model:</span>
                                <span class="product-main-info__subitem">unisex</span>
                            </li>
                            <li class="product-main-info-parameter">
                                <span class="product-main-info__item">The cut:</span>
                                <span class="product-main-info__subitem">oversize</span>
                            </li>
                        </ul>
    
                        <div class="description-text__inner">
                            <h3 class="info__description-title">Description</h3>
                            <p class="description-text">
                                The Longsleeve Carhartt WIP is the perfect choice for those who want
                                comfort, style and quality. Carhartt Longsleeve is suitable for any
                                occasion - from the beach to the street, from the office to the club.
                                The Carhartt work in progress longsleeve has a unisex design, which makes
                                it suitable for men and women. The CARHARTT WIP embroidery on the chest
                                gives this T-shirt a special touch of fashion. It is available in various
                                colors, which allows you to choose a Karhat T-shirt that is right for you.
                                The quality of Carhartt's clothes is impeccable. The Carhartt longsleeve
                                is made of high-quality materials that make it durable and comfortable.
                                You will feel comfortable in this longsleeve Carhart all day long. If
                                you want to add a stylish Carhart longsleeve to your wardrobe that will
                                look fashionable and high-quality, then Carhartt clothes are an excellent
                                choice
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="product__top__reviews">
                    <button class="proudct__title">Reviews</button>
                    <ul class="product__top__reviw__collection">
    
                        <li class="product__top__reviw__item">
    
                            <div class="product__top__reivew__image">
                                <img src="" alt="" class="product__top__user__avatar">
                            </div>
    
                            <div class="product__top__reivew__info__inner">
                                <div class="product__top__review__top__inner">
                                    <div class="product__top__review__person__info">
                                        <p class="product__top__review__name">Grisha Komar</p>
                                        <p class="product__top__review__created_date">May 29 at 20:03</p>
                                    </div>
                                    <div class="product__top__review__start__inner">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                    </div>
                                </div>
    
    
                                <div class="product__top__review__bottom__inner">
                                    <p class="product__top__review__text">A few large drops of glue, for such an amount,
                                        I think it is unacceptable.</p>
                                </div>
                            </div>
    
                        </li>
    
                        <li class="product__top__reviw__item">
    
                            <div class="product__top__reivew__image">
                                <img src="" alt="" class="product__top__user__avatar">
                            </div>
    
                            <div class="product__top__reivew__info__inner">
                                <div class="product__top__review__top__inner">
                                    <div class="product__top__review__person__info">
                                        <p class="product__top__review__name">Elon Musk</p>
                                        <p class="product__top__review__created_date">May 29 at 20:03</p>
                                    </div>
                                    <div class="product__top__review__start__inner">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                    </div>
                                </div>
    
    
                                <div class="product__top__review__bottom__inner">
                                    <p class="product__top__review__text">A high-quality thing. The seams are smooth,
                                        the jersey is tight, the size is appropriate.
                                        After washing, we will check whether everything
                                        remains in place or not)))
                                    </p>
                                </div>
                            </div>
                        </li>
    
                        <li class="product__top__reviw__item">
    
                            <div class="product__top__reivew__image">
                                <img src="" alt="" class="product__top__user__avatar">
                            </div>
    
                            <div class="product__top__reivew__info__inner">
                                <div class="product__top__review__top__inner">
                                    <div class="product__top__review__person__info">
                                        <p class="product__top__review__name">Random Chel</p>
                                        <p class="product__top__review__created_date">May 29 at 20:03</p>
                                    </div>
                                    <div class="product__top__review__start__inner">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                    </div>
                                </div>
    
    
                                <div class="product__top__review__bottom__inner">
                                    <p class="product__top__review__text">For such money, it justifies itself , but
                                        there are inconveniences,
                                        inconvenient nozzles have to be passed several times.
                                    </p>
                                </div>
                            </div>
                        </li>
    
                        <li class="product__top__reviw__item">
    
                            <div class="product__top__reivew__image">
                                <img src="" alt="" class="product__top__user__avatar">
                            </div>
    
                            <div class="product__top__reivew__info__inner">
                                <div class="product__top__review__top__inner">
                                    <div class="product__top__review__person__info">
                                        <p class="product__top__review__name">Da Ya</p>
                                        <p class="product__top__review__created_date">May 29 at 20:03</p>
                                    </div>
                                    <div class="product__top__review__start__inner">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                        <img src="images/product/star.svg" alt=""
                                             class="product__top__review__star_img">
                                    </div>
                                </div>
    
    
                                <div class="product__top__review__bottom__inner">
                                    <p class="product__top__review__text">Perfect, warm and soft, Well sewn, the threads
                                        do not stick out.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
    
                    <button class="proudct__title see__reviews__btn">See all Reviews
                        <img src="images/product/Vector(6).svg" alt="">
                    </button>
    
    
                    <div class="product__top__review__creater">
                        <button class="proudct__title">Write a Reviw</button>
                        <form>
                            <div class="review__creater__inner">
                                <div class="review__creater__left">
                                    <p class="review__creator__subtitle">RATING AND IMAGES</p>
    
                                    <div class="review__creator__stars__inner">
                                        <input type="radio" id="review__stars__input_1"
                                               class="review__creator__stars__input" name="rev">
                                        <label for="review__stars__input_1"
                                               class="review__creator__stars__label"></label>
    
                                        <input class="review__creator__stars__input" id="review__stars__input_2"
                                               type="radio" name="rev">
                                        <label class="review__creator__stars__label"
                                               for="review__stars__input_2"></label>
    
                                        <input class="review__creator__stars__input" id="review__stars__input_3"
                                               type="radio" name="rev">
                                        <label class="review__creator__stars__label"
                                               for="review__stars__input_3"></label>
    
                                        <input class="review__creator__stars__input" id="review__stars__input_4"
                                               type="radio" name="rev">
                                        <label class="review__creator__stars__label"
                                               for="review__stars__input_4"></label>
    
                                        <input class="review__creator__stars__input" id="review__stars__input_5"
                                               type="radio" name="rev">
                                        <label class="review__creator__stars__label"
                                               for="review__stars__input_5"></label>
    
                                    </div>
    
                                    <input class="review__creator__desc__input" name="rev__desc__img" type="file">
                                    <label class="review__creator__desc__label" for="">
                                        <img src="images/product/file.svg" alt="">
                                    </label>
                                </div>
    
                                <div class="review__creater__right">
                                    <p class="review__creator__subtitle">INFORMATION</p>
                                    <textarea class="review__creator__desc__text"
                                              placeholder="Description..."></textarea>
                                </div>
                            </div>
    
                            <button class="review__creator__btn__submit" type="submit">
                                Send Review
                                <img src="images/product/Vector(5).svg" alt="">
                            </button>
                        </form>
                    </div>
                </div>
    
            </div>
        </div>
    </main>
    }
}