@*@page
@model ShopDevelop.Identity.DuendeServer.WebAPI.Pages.Auth.ConfirmEmail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
</head>
    <body>
        <div>
            <h1>Confirm Email</h1>
        </div>
    </body>
</html>*@