:root{
    --footer-background-color: #D9D9D9;
    --footer-text-color: #000;
}

.footer{
    margin-top: 30px;
    background-color: var(--footer-background-color);
}

.footer-container{
    max-width: 1460px;
    margin: 0 auto;
    display: block;
}

.footer__inner{
    width: 1430px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    padding: 50px 0 0 0;
}

.footer__main-link__inner{
    display: flex;
}

.footer-product__inner{
    margin-right: 165px;

}

.footer-titele{
    color: var(--footer-text-color);
    font-size: 22px;
    margin-bottom: 20px;

}

.footer__product-items{
    color: var(--footer-text-color);
}

.footer_company-item{
    color: var(--footer-text-color);
    margin-bottom: 20px;
}

.footer__product-item{
    margin-bottom: 20px;
    
}

.footer-titele{
    color: var(--footer-text-color);

}

.footer__other-title{
    margin-bottom: 20px;
}

.footer__other-text{
    color: var(--footer-text-color);
    max-width: 342px;
    margin-bottom: 40px;
}

.footer-contact__items{ 
    margin-bottom: 20px;
    text-align: right;
}

.footer-contact__item{
    margin-top: 10px;

}

.footer-contact__link{
    margin-bottom: 10px;

}

.footer-contacts__img{
    margin-right: 5px;

}

.footer-contacts__info{
    color: var(--footer-text-color);
    position: relative;
    bottom: 7px;
}

.footer-phone-number{
    margin-left: 15px;
}



.social__inner{
    display: flex;
    justify-content: space-between;
    padding: 0 0 30px 0;
    margin-right: 30px;
}

.footer_site-text{
    color: var(--footer-text-color);
}

.footer-social__items{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;

}

.footer-social__item{
    margin-left: 20px;

}

.footer__products-link{
    transition: .5s ease;
}

.footer__products-link:hover{
    opacity: 80%;
}

.footer__company-link{
    transition: .4s ease;
}

.footer__company-link:hover{
    opacity: 80%;
}

.footer-contact__phone-link{
    transition: 0.5s ease;
    cursor: pointer;
}

.footer-contact__mail-link{
    transition: 0.5s ease;
    cursor: pointer;
}

.footer-contact__phone-link:hover{
    opacity: 80%;
}

.footer-contact__mail-link:hover{
    opacity: 80%;
}