@model ShopDevelop.Identity.Models.LoginViewModel

<environment names="Development">
    <link rel="stylesheet" href="~/css/Login/login.css" />
</environment>
<section class="register" id="register">
    <div class="container">
        <div class="register__inner">
            <form class="register-form" asp-controller="Auth" asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <input hidden asp-for="ReturnUrl" /> 

                <h1 class="reg-title">Log In</h1>

                <p class="reg-other-text-info log-other-text-info">Welcome back, we've missed you!</p>

                <h4 class="reg-subtitle">BASIC INFORMATION</h4>

                <input asp-for="Login" class="reg-input" class="login-input" type="text" placeholder="Login" id="login-input">
                <input asp-for="Password" class="reg-input" class="pass-input" type="password" placeholder="Password" id="pass-input">

                <br>
                <label class="rememberme-label" for="rememberme">Remember me</label>
                <input class="rememberme-input" name="rememberme" type="checkbox" value="false">
                <a class="forgot-pass">Forgot your password?</a>

                <p class="reg-other-text log-other-text">Don't you have an account?</p>
                <a class="reg-login__link" href="/Auth/Register">Register</a>
                <br>

                <button class="btn-submit" type="submit">LOG IN</button>
            </form>
        </div>
    </div>
</section>