@{
    foreach (var product in Model)
    {
        <li class="catalog__item">
            <a href="#" class="catalog__item-image__inner">
                <img class="catalog__item__img" src="~/images/catalog/product_1.jpg" alt="">
            </a>
            <div class="catalog__item-text__inner">
                <a class="catalog__item__title" href="#!">@product.ProductName</a> <br>
                <a class="catalog__item__brend" href="#!">@product.Seller.Name</a>
                <div class="catalog__item-top__inner">
                    <p class="catalog__item__price">$ @product.Price</p>
                    <div class="catalog__item-stars__inner">
                        <img class="catalog__item-star" src="~/images/catalog/star.svg" alt="">
                        <img class="catalog__item-star" src="~/images/catalog/star.svg" alt="">
                        <img class="catalog__item-star" src="~/images/catalog/star.svg" alt="">
                        <img class="catalog__item-star" src="~/images/catalog/star.svg" alt="">
                        <img class="catalog__item-star" src="~/images/catalog/star.svg" alt="">
                        <p class="catalog__item__stars-count">(129)</p>
                    </div>
                </div>
            </div>
        </li>
    }
}
