<header class="header">
        <div class="container">
            <nav class="nav">
                <a href="/" class="logo">
                    <img src="~/images/header/logo.svg" alt="logo">
                </a>
                <ul class="menu">
                    <li class="menu__list">
                        <a href="/" class="menu__link">HOME</a>
                    </li>
                    <li class="menu__list">
                        <a href="#" class="menu__link">MEN</a>
                    </li>
                    <li class="menu__list">
                        <a href="#" class="menu__link">WOMAN</a>
                    </li>
                    <li class="menu__list">
                        <a href="#" class="menu__link">ABOUT</a>
                    </li>
                </ul>
                <ul class="control">
                    <li class="control__list">
                        <div class="search__inner">
                            <img class="control__image-search" src="~/images/header/search.svg" alt="">
                            <input class="control__search-input" type="text">
                        </div>
                    </li>
                    <li class="control__list control__menu__btn">
                        <a href="#" class="basket">
                            <div class="control__list__inner">
                                <img class="control__image" src="~/images/header/basket.svg" alt="">
                            </div>
                        </a>
                    </li>
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            <li class="control__list control__menu__btn">
                                <a asp-page="/security/profile" class="profile">
                                    <div class="control__list__inner">
                                        <img class="control__image" src="~/images/header/profile.svg" alt="">
                                    </div>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="control__list control__menu__btn">
                                <a asp-page="/security/login" class="profile">
                                    <div class="control__list__inner">
                                        <img class="control__image" src="~/images/header/profile.svg" alt="">
                                    </div>
                                </a>
                            </li>
                        }
                    }
                    <li class="control__list">
                        <button class="menu__btn">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </li>
                </ul>

            </nav>
        </div>
    </header>