@*@page
@model ShopDevelop.Identity.DuendeServer.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<environment names="Development">
    <link rel="stylesheet" href="~/css/Login/login.css" />
</environment>

<section class="register" id="register">
    <div class="container">
        <div class="register__inner">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" class="register-form" method="post">
                <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />

                <h1 class="reg-title">Log In</h1>
                <p class="reg-other-text-info log-other-text-info">Welcome back, we've missed you!</p>

                <h4 class="reg-subtitle">BASIC INFORMATION</h4>

                <input asp-for="@Model.model.Email" class="reg-input" type="email" placeholder="Email" id="login-input" class="login-input">
                <br>
                <span class="reg-validation-span" asp-validation-for="model.Email"></span>
                <input asp-for="@Model.model.Password" type="password" class="reg-input" class="pass-input" placeholder="Password" id="pass-input">
                <br>
                <span class="reg-validation-span" asp-validation-for="model.Password"></span>

                <br>
                <label class="rememberme-label" for="rememberme">Remember me</label>
                <input class="rememberme-input" name="rememberme" type="checkbox" value="false">
                <a class="forgot-pass">Forgot your password?</a>

                <p class="reg-other-text log-other-text">Don't you have an account?</p>
                <a class="reg-login__link" asp-page="/Register">Register</a>
                <br>
                <button class="btn-submit" type="submit">LOG IN</button>
            </form>
        </div>
    </div>
</section>*@