@using ShopDevelop.Web.Models
@model RegisterModelView

<section class="register" id="register">
    <div class="container">
        <div class="register__inner">
            <form asp-controller="Account" asp-action="Register" class="register-form" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <h1 class="reg-title">Register</h1>

                <p class="reg-other-text-info">Create an account so you can start shopping.</p>

                <h4 class="reg-subtitle">BASIC INFORMATION</h4>
                <input asp-for="Name" class="reg-input" type="text" placeholder="Login" id="login-input" class="login-input">
                <input asp-for="Password" class="reg-input" type="password" placeholder="Password" id="pass-input" class="pass-input">
                <input asp-for="Password" class="reg-input pa" type="password" placeholder="Repeat Password" id="pass-input" class="pass-input">

                <h4 class="reg-subtitle">CONTSCT INFO</h4>
                <input asp-for="Email" class="reg-input" type="email" placeholder="Email" id="login-input" class="login-input">
                <input asp-for="PhoneNumber" class="reg-input" type="phone" placeholder="Phone" id="pass-input" class="pass-input">

                <p class="reg-other-text">Already have an account?</p>
                <a class="reg-login__link" href="/Account/Login">Log In</a>
                <br>
                <button class="btn-submit" type="submit">CREATE</button>
            </form>
        </div>
    </div>
</section>