html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

:root{
    --dm-sans-font: "DM Sans", sans-serif;
}

body{
    font-family: var(--dm-sans-font);
}

.container{
    margin: 0 auto;
    justify-content: center;
    display: flex;
    max-width: 1460px;
}

.user-profile__section{

}

.user-profile__inner{
    width: 900px;
}

.title{
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.profile-top{

}

.profile__header{
    width: 900px;
    height: 125px;
    max-width: 900px;
    max-height: 125px;
    background-color: #909090;
    border-radius: 5px;
}

.profile__header-img{
    max-width: 900px;
    max-height: 125px;
}

.profile__avatar{
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-color: #d2d2d2;
    position: relative;
    bottom: 50px;
    left: 30px;
}

.profile__avatar-img{
    max-width: 115px;
    max-height: 115px;
    height: 115px;
    width: 115px;
    visibility: hidden;
}

.profile-top-info__inner{
    display: flex;
    max-height: 42px;
    justify-content: space-between;
    margin-left: 160px;
    position: relative;
    bottom: 100px;
}

.profile-top-info__inner-text{
    
}

.profile-name__text{
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.profile-country-text{
    font-size: 14px;
    opacity: 70%;
    margin: 0;
    padding: 0;
}

.profile-edit__btn{
    font-size: 14px;
    padding: 10px 15px;
    border: 1px solid transparent;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    max-width: 950px;
    max-height: 37px;
    transition: .5s;
    margin-right: 35px;
}

.profile-edit__btn:hover{
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}