<section class="footer" id="footer">
    <div class="footer-container">
        <div class="footer__inner">
            <div class="footer__main-link__inner">
                <div class="footer-product__inner">
                    <h4 class="footer-titele">Products</h4>
                    <ul class="footer__product-items">
                        <li class="footer__product-item">
                            <a href="" class="footer__products-link">How to place an order</a>
                        </li>
                        <li class="footer__product-item">
                            <a href="" class="footer__products-link"> Payment methods</a>
                        </li>
                        <li class="footer__product-item">
                            <a href="" class="footer__products-link">Loans</a>
                        </li>
                        <li class="footer__product-item">
                            <a href="" class="footer__products-link">Delivery</a>
                        </li>
                        <li class="footer__product-item">
                            <a href="" class="footer__products-link"> Order status</a>
                        </li>
                        <li class="footer__product-item">
                            <a href="" class="footer__products-link">Exchange, Refund, Warranty</a>
                        </li>
                        <li class="footer__product-item">
                            <a href="" class="footer__products-link"> Quality control</a>
                        </li>
                    </ul>
                </div>

                <div class="footer-company__inner">
                    <h4 class="footer-titele">Company</h4>
                    <ul class="footer-company-items">
                        <li class="footer_company-item">
                            <a href="" class="footer__company-link">About the Company</a>
                        </li>
                        <li class="footer_company-item">
                            <a href="" class="footer__company-link">Privacy policy</a>
                        </li>
                        <li class="footer_company-item">
                            <a href="" class="footer__company-link">Terms of use</a>
                        </li>
                        <li class="footer_company-item">
                            <a href="" class="footer__company-link">The bonus program</a>
                        </li>
                        <li class="footer_company-item">
                            <a href="" class="footer__company-link">Partners</a>
                        </li>
                        <li class="footer_company-item">
                            <a href="" class="footer__company-link">Feedback</a>
                        </li>
                        <li class="footer_company-item">
                            <a href="" class="footer__company-link">Help</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="other__inner">
                <h4 class="footer-titele footer__other-title">Say In Touch</h4>
                <p class="footer__other-text">
                    Please feel free to contact us via the
                    email of phone. We would be happy to hear from you!
                </p>

                <ul class="footer-contact__items">
                    <li class="footer-contact__item">
                        <a class="footer-contact__link footer-contact__phone-link">
                            <img class="footer-contacts__img" src="./images/Footer/Phone.svg" alt="">
                            <span class="footer-contacts__info footer-phone-number">+7 999 999 99 99</span>
                        </a>
                    </li>
                    <li class="footer-contact__item">
                        <a class="footer-contact__link footer-contact__mail-link">
                            <img class="footer-contacts__img" src="./images/Footer/Mail.svg" alt="">
                            <span class="footer-contacts__info">mypost@gmail.com</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="social__inner">
            <p class="footer_site-text">©  NezidShop, 2024</p>
            <ul class="footer-social__items">
                <li class="footer-social__item">
                    <a class="footer-social__link" href="">
                        <img class="footer-social__img" src="./images/Footer/icon-fs.svg" alt="">
                    </a>
                </li>
                <li class="footer-social__item">
                    <a class="footer-social__link" href="">
                        <img class="footer-social__img" src="./images/Footer/icon-yt.svg" alt="">
                    </a>
                </li>
                <li class="footer-social__item">
                    <a class="footer-social__link" href="">
                        <img class="footer-social__img" src="./images/Footer/icon-tw.svg" alt="">
                    </a>
                </li>
                <li class="footer-social__item">
                    <a class="footer-social__link" href="">
                        <img class="footer-social__img" src="./images/Footer/icon-inst.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>