:root {
    --discount-color: #E32005;
    --dm-sans-font: "Inter", sans-serif;
}

body {
    color: #000;
    font-family: --dm-sans-font;
}

.catalog{
}

.container{
    margin: 0 auto;
    justify-content: center;
}

.catalog__list-products{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;   
    width: 100%;
    max-width: 1460px;
}

.catalog__product{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 333px;
    max-height: 500px;
    height: 500px;
    width: 333px;
    margin-top: 38px;
    /* border: 1px solid #000; */
}

.catalog__product-img{
    margin-top: 30px;
    max-width: 260px;
    max-height: 280px;
    transition: .4s ease;
}

.catalog__product-img:hover{
    max-width: 290px;
    max-height: 310px;
}

.catalog__product__inner{
    margin-left: 22px;
    margin-right: 22px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 30px;
    justify-content: flex-end;
    max-height: 180px;
    height: 180px;  
}

.catalog__name{
    font-size: 20px;
    font-weight: 700;
    transition: .5s ease;
}

.catalog__name:hover{
    opacity: 0.7;
}

.seller__name{
    font-size: 18px;
    opacity: 70%;
    margin-top: 8px;

}

.rating{
    margin-top: 8px;
}

.catalog-stars{
    display: flex;
    gap: 4px;
}

.catalog__reviews-star{
    margin-left: 15px;
}

.catalog-prices__inner{
    display: flex;
    margin-top: 8px;
}

.price{
    font-size: 20px;
    font-weight: 700;
}

.other-price{
    font-size: 16px;
    font-weight: 700;
    opacity: 70%;
    text-decoration: line-through;
    position: relative;
    top: 3px;
    margin-left: 15px;
}

.discount-price{
    font-size: 16px;
    color: var(--discount-color);
    font-weight: 700;
    position: relative;
    top: 3px;
    margin-left: 10px;
}

.catalog-cart__btn{
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
    transition: .5s ease;
}

.catalog-like__btn{
    background-color: transparent;
    border: none;
    width: 30px;
    height: 29px;
    cursor: pointer;
    justify-content: center;
    transition: .5s ease;
    margin-left: 20px;
}

.catalog-bottom__btn:hover{
    opacity: 70%;
}

.catalog-buttons__inner{
    display: flex;
    position: relative;
    top: 7px;
}

.bottom-paner__inner{
    display: flex;
    justify-content: space-between;
}