.footer{
    font-family: var(--dm-sans-font);
    background: var(--main-text-color);
    color: var(--navigate-background-color);
    height: 550px;
    padding: 50px;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
}

.footer__left-menu__inner{
    display: flex;
}

.footer__menu{
    font-size: 16px;
}

.footer__item{
    margin-top: 20px;

}

.footer__title{
    font-size: 22px;
    font-weight: 700;
}

.footer__links{
    font-size: inherit;
    transition: .5s;
}

.footer__links:hover{
    opacity: .7;;
}

.footer__menu-company{
    margin-left: 100px;
}

.footer__right-menu__inner{
    display: block;
}

.footer__right__info__inner{
}

.footer__title{
}

.footer__text{
    max-width: 350px;
    margin-top: 15px;
}

.footer__bottom-text{
    margin-top: 100px;
}

.footer__right__feedback__inner{
    margin-top: 50px;
    margin-left: 140px;
}

.foonter__link-item{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    transition: .5s;
}

.foonter__link-item:hover{
    opacity: .7;
}

.footer__link-text{
    margin-left: 10px;
}

.footer-links__inner{
    position: relative;
    display: flex;
    left: 170px;
    top: 100px;
}

/* ---------- Adaptive ---------- */

@media (max-width: 1280px) {

}

@media (max-width: 1024px) {
    .footer__menu-company{
        margin-left: 40px;
    }

    .footer__right-menu__inner{
        max-width: 250px;
    }

    .footer__right__feedback__inner{
        margin-top: 50px;
        margin-left: 45px;
    }

    .footer-links__inner{
        position: relative;
        display: flex;
        left: 80px;
    }
}

@media (max-width: 800px) {
    .footer__inner{
        display: block;
        justify-content: space-between;
    }

    .footer{
        height: 800px;
        padding: 50px;
    }

    .footer__left-menu__inner{
        justify-content: space-between;
    }

    .footer__menu-company{
        margin-right: 35px;
    }

    .footer__right-menu__inner{
        margin-top: 40px;
        display: block;
        justify-content: space-between;
        max-width: 666px;
    }

    .footer-links__inner{
        top: 10px;
        left: 0px;
    }

    .footer__right__feedback__inner{
        margin-left: 0;
    }

    .foonter__link-item{
        margin-left: 0;
        margin-right: 20px;
    }

}

@media (max-width: 700px) {
    .footer__text{
        max-width: 250px;
    }
}

@media (max-width: 600px) {

    .footer{
        padding: 20px;
        height: 1070px;
    }

    .footer__left-menu__inner{
        display: block;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
    }

    .footer__right-menu__inner{
        margin: 30px auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .footer__right__info__inner{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .footer__text{
        text-align: center;
        margin: 20px auto;
    }

    .footer-links__inner{
        margin: 15px auto;
        text-align: center;
        justify-content: center;
    }

    .footer__right__feedback__inner{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 25px auto 0 auto;
    }

    .footer__right__feedback__inner a{
        margin: 20px auto;
        justify-content: center;
    }

    .footer__menu-company{
        margin-left: 0;
        margin-top: 40px;
        margin-right: 0;
    }

    .footer__bottom-text{
        margin-top: 100px;
        text-align: center;
    }

    .foonter__link-item{
        margin: 10px;
    }
}