html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root{
    --dm-sans-font: "Inter", sans-serif;
}

body{
    font-family: var(--dm-sans-font);
}

.container{
    max-width: 1460px;
    margin: 0 auto;
    display: flex;
}

li{
    list-style: none;
}